# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\D\php workspace\RoistatSubmit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
